@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
#navbar {
  background-color: #710C04;
  overflow: hidden;
  font-family: 'Tilt Warp', cursive;
}
#navbar-container {
  width: 100%;
  position: relative;
  float: left;
}
#onage {
  text-decoration: underline overline;
}
#navbar ul {
  list-style-type: none;
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  left: 50%;
}
#navbar ul li {
  position: relative;
  display: block;
  float: left;
  padding: 10px 20px;
  right: 50%;
}
#navbar ul li a {
  text-decoration: none;
  display: block;
  color: #fff;
}
#navbar ul li:hover {
  background-color: #000;
}
body {
  background-color: #645f5f96;
}
h2, h3, h4 {
  text-align: center;
  font-family: monospace;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2.0em;
}
h4 {
  font-size: 1.6em;
}
img {
  max-width: 100%;
  max-height: 100%
}
footer {
  background-color: #710C04;
  text-align:center;
  background-color: #710C04;
  overflow: hidden;
  color: #fff;
}
/* styling for home page */
.column {
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#col_1, #col_2, #home_text {
  text-align:center;
  font-family: 'Kanit', sans-serif;
}
#col_1, #col_2 {
  margin-left: 10%;
  margin-right: 10%;
}
.home_text {
  padding: 0% 20% 0% 20%;
}
#gfg_cap {
  width: 500px;
  height: 350px;
}
#repo_tutorial {
  padding-left:25%;
}
#home_text a {
  text-decoration:none;
  font-style:italic;
  color: #710C04;
}
/* Resume Page styling */
#resume_body {
  background-color: #fff;
  margin-left:auto;
  margin-right:auto;
  width: 850px;
  height: 1800px;
  margin-bottom: 1em;
}
.title {
  text-align: center;
  padding-top: 5%;
}
.contact_info {
  float: left;
  padding-left: 7.5%;
}
.skills {
  padding-top:5%;
}
#header {
  border-top: 5px solid black;
}
#footer {
  border-top: solid black;
}
.projects, .experience, .education {
  padding-left:15px;
  padding-right:15px;
}
.info {
  float:left;
}
.date {
  float:right;
}
.exp {
  padding-top:8%;
  width:50%;
}
.d {
  padding-bottom:8%;
}
/* me.html styling */
#warning {
  color:yellow;
}
#audio_section {
  text-align: center;
}
#audio_clip {
  background-color: yellow;
}
#read_section {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}
#book_image {
  padding-left: 35%;
  height: 200px;
}
.column a {
  text-decoration:none;
  font-style:italic;
  color: #710C04;
}
#vg_section {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}
.video {
  float: left;
}
.vid_container {
  padding-left: 20%;
}
#dnd_title {
  padding-top:18%;
}
#dnd_section {
  text-align: center;
  margin-left:15%;
  margin-right:15%;
}
.dnd_img {
  padding-left:10%;
}
#handbook {
  height:350px;
}
#p_info {
  text-align: center;
  margin-left:30%;
  margin-right:30%;
}
/* map.html styling*/
#map {
  margin: 0 auto;
  height: 800px;
  width: 80%;
}
/*slider styling*/
.slider {
	width: 40%;
	height: 40%;
}
/*media query*/
@media screen and (max-width: 600px) {
  img {
    width: 50%;
	padding: 6px;
  }
  p {
  font-size: 0.4cm;
  line-height: 0.5cm;
  text-align: center;
  margin: 2px;
  padding: 2px;
  }
  #resume_body {
    height: 1900px;
  }
  .contact_info {
    padding-left: 5%;
  }
  #book_image {
    height: 100%;
  }
}
@media screen and (max-width: 1000px) and (min-width: 601px) {
  img {
    width: 60%;
	padding: 8px;
  }
  p {
  font-size: 0.5cm;
  line-height: 0.6cm;
  text-align: center;
  margin: 4px;
  padding: 4px;
  }
  .contact_info {
    padding-left: 5%;
  }
  #dnd_title {
    padding-top: 20%;
  }
  .vid_container {
    padding-left: 15%;
  }
}

